container{
    max-width: 1200px;
    margin: auto;
}
img{
    width: 100%;
}
.Navigation{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: auto;
    align-items: center;
}

.Navigation ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    align-items: center;
    color: #89848434;
}
.Navigation ul a{
    text-decoration: none;
    color:#5e5b5b ;
}
.Common_btn{
    background-color: #1D4ED8;
    color: white;
    margin: 15px;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    border: none;
    margin-right: 40px;
}
.Hero{
    height: 80vh;
    margin: 0;
    text-align: center;
    background-image: url("./assets/banner.jpg");
    color: white;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.Hero h1{
    padding-top: 80px;
    padding-bottom: 10px;
}
.Hero p{
    padding: 0px 150px 200px 200px;
}
.Meet_speaker{
    text-align: center;
    padding: 20px;
}
.Meet_speaker .Card_p{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 50px;
    padding-right: 50px;
    gap: 20px;
}
.card{
    border-radius: 5px;
    border:1px solid rgb(235, 229, 229);
    text-align: left;
    padding-left: 5px;

}
.card img{
    /* border-radius: 5px; */
    border-image: auto;
}
.plan{
    margin-top: 150px;
    text-align: center;
}
.plan_card{
    display: flex;
    justify-content: center;
    gap:10px;
}
.Card_Indi{
    border-radius: 8px;
    border:1px solid rgb(235, 229, 229);
    text-align: left;
    padding-left: 5px;
    padding-right: 30px;
    align-items: center;
}
.pro{
    background-color: rgba(19, 14, 53, 0.893);
    color: white;
    
}
.Card_Indi button{
    display: inline-block;
    border: 1px solid #331a8f;
    text-align: center;
    padding:10px;
    width: 200px;
    border-radius: 8px;
    margin-left:20px ;
    margin-bottom: 20px;
}
.pro button{
    background-color: #1D4ED8;
    color: aliceblue;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #12073b;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
}
.end{
    text-align: center;
}